<h2 class="h2">Character detail</h2>
<div class="card" *ngIf="!loading">
<article class="article">
   
  
  <div class="der">
    <h3>
      <mat-card-title>{{personajes.name}}</mat-card-title>
    </h3>
    <div class="section">{{personajes.gender}} - {{personajes.species}}</div>
    <div class="section">
    <mat-icon [ngStyle]="{color: personajes.status === 'Alive' ? 'rgb(85, 204, 68)': 'rgb(214, 61, 46)'}" aria-hidden="false" fontIcon="circle"></mat-icon>
    {{personajes.status}}
  </div>
    <div class="section">
      <span class="spanTitle">Last known location</span><br>
      <span class="span">{{personajes.location.name}}</span>

    </div>
    <div class="section" style="margin-top: 40px;">
      <mat-icon fontIcon="camera" class="camera"></mat-icon>
      <span class="episodio"> Episodio donde aparece</span>
      
    </div>
    <!--
    <mat-list role="list" *ngFor="let e of episodes">
      <mat-list-item role="listitem">{{episodes}}</mat-list-item>
    </mat-list>
  -->

  <table mat-table *ngFor="let e of episodes" class="mat-elevation-z8">
    {{e}}
  
  <!--
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{e.id}} </td>
    </ng-container>
  

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{e.name}} </td>
    </ng-container>
  

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Air Date </th>
      <td mat-cell *matCellDef="let element"> {{e.air_date}} </td>
    </ng-container>
  

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Url </th>
      <td mat-cell *matCellDef="let element"> {{e.url}} </td>
    </ng-container>


     <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let element"> {{e.created}} </td>
    </ng-container>
  
-->
  </table>
  

 
  
  </div>
  <div class="izq">
    <img *ngIf="image" loading="lazy" [ngSrc]="image" [alt] = "image"  width="600" height="600" > 
  </div>
   
  </article>
</div>

<div class="container" *ngIf="loading">
  <p>Cargando...</p>
</div>