

.container{
  max-width: 85%;
}

.botones{
  display: block;
  text-align: center;
}

button{
  margin: 20px;
  margin-top: 50px;
}




mat-form-field {
  width: 50%;
  margin-top: 20px;
  margin-left: 15px;
  display: block;
  border-radius: 20px;
 

}






.fld {
  width: 97%;
}

